.contact {
    background-color: #c37777;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 12px;
}
.contact__title {
    color: #f8eded;
    font-size: 28px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 24px;
    text-align: center;
}
.form {
    background-color: #4e6c81;
    width: min(500px, 100%);
    margin: 0 auto;
    padding: 12px;
    border-radius: 12px;
}
.fields {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}
.field__tag {
    display: block;
    color: #f8eded;
    font-size: 12px;
    margin-bottom: 12px;
}
.field__enter {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    border: none;
    border-radius: 8px;
}
.field:nth-child(3), .field:nth-child(4) {
    grid-column: 1 / 3;
}
.field__textarea {
    height: 200px;
    resize: none;
}
.form__right {
    display: flex;
    justify-content: flex-end;
}

