.footer {
    background-color: #4e6c81;
    margin-bottom: 24px;
    padding: 24px;
    border-radius: 12px;
}
.footer .container {
    background-color: #c37777;
    padding: 12px;
    border-radius: 12px;
}
.footer__name {
    color: #f8eded;
    font-size: 16px;
    text-align: center;
}

