@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

$first: #4e6c81;
$second: #c37777;
$light: #f8eded;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    border-radius: 12px;
}
.container {
    max-width: 1280px;
    width: 92%;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    background-color: $first;
    color: $light;
    font-size: 16px;
    margin-top: 24px;
    padding: 8px 12px;
    border: 2px solid;
    border-radius: 8px;
}
.form__btn {
    background-color: #c37777;
}
@media (min-width: 1200px) {
    .btn {
        font-size: 32px;
    }
}

