.nav {
    position: relative;
    background-color: $second;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
}
.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ham {
    color: $first;
    width: 40px;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    transform: rotate(90deg);
    transition: .4s;
}
.gate {
    transform: rotate(180deg);
}
.menu {
    position: absolute;
    top: 96px;
    left: 12px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $second;
    width: 40%;
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    transition: height .5s linear;
}
.menu__link {
    color: $light;
    padding: 8px 16px;
}
.menu__link:hover {
    background-color: $first;
    border-radius: 12px;
}
.look {
    height: 148px;
}
.social [class*="icon-"] {
    color: $first;
    font-size: 24px;
    
    margin-left: 12px;
}

@media (min-width: 768px) {
    .ham {
        display: none;
    }
    .menu {
        position: static;
        flex-direction: row;
        background: none;
        width: auto;
        height: auto;
    }
}
@media (min-width: 1200px) {
    .menu__link {
        font-size: 32px;
    }
    .social [class*="icon-"] {
        font-size: 32px;
    }
}