@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.container {
  max-width: 1280px;
  width: 92%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #4e6c81;
  color: #f8eded;
  font-size: 16px;
  margin-top: 24px;
  padding: 8px 12px;
  border: 2px solid;
  border-radius: 8px;
}

.form__btn {
  background-color: #c37777;
}

@media (min-width: 1200px) {
  .btn {
    font-size: 32px;
  }
}
.banner {
  position: relative;
  margin-bottom: 12px;
  border-radius: 4px;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.banner__content {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translateX(-50%) -50%;
  color: #f8eded;
}

.icon-map {
  font-size: 48px;
}

.banner__title {
  font-size: 28px;
  margin-bottom: 24px;
}

.banner__text {
  display: inline-block;
  font-size: 16px;
}

@media (min-width: 768px) {
  .banner__content {
    top: 40%;
    left: 40%;
  }
  .banner__title {
    font-size: 32px;
  }
  .banner__text {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .banner__content {
    top: 50%;
    left: 50%;
  }
  .banner__title {
    font-size: 64px;
  }
  .icon-map {
    font-size: 80px;
  }
  .banner__text {
    font-size: 24px;
  }
}
.contact {
  background-color: #c37777;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
}

.contact__title {
  color: #f8eded;
  font-size: 28px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 24px;
  text-align: center;
}

.form {
  background-color: #4e6c81;
  width: min(500px, 100%);
  margin: 0 auto;
  padding: 12px;
  border-radius: 12px;
}

.fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.field__tag {
  display: block;
  color: #f8eded;
  font-size: 12px;
  margin-bottom: 12px;
}

.field__enter {
  width: 100%;
  margin-bottom: 12px;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.field:nth-child(3), .field:nth-child(4) {
  grid-column: 1/3;
}

.field__textarea {
  height: 200px;
  resize: none;
}

.form__right {
  display: flex;
  justify-content: flex-end;
}

.footer {
  background-color: #4e6c81;
  margin-bottom: 24px;
  padding: 24px;
  border-radius: 12px;
}

.footer .container {
  background-color: #c37777;
  padding: 12px;
  border-radius: 12px;
}

.footer__name {
  color: #f8eded;
  font-size: 16px;
  text-align: center;
}

.header {
  background-color: #4e6c81;
  margin-bottom: 12px;
  padding: 24px;
  border-radius: 12px;
}
.header .header__logo {
  color: #f8eded;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

.main {
  background-color: #4e6c81;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
}

.main__title {
  color: #f8eded;
  font-size: 28px;
  font-weight: 500;
  margin-top: 36px;
  margin-bottom: 24px;
  text-align: center;
}

.service__title {
  color: #c37777;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c37777;
  color: #f8eded;
  font-size: 40px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 12px;
  border: 12px solid;
  border-radius: 20px;
}

.service__text {
  color: #f8eded;
  font-size: 16px;
  margin-bottom: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
.nav {
  position: relative;
  background-color: #c37777;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 8px;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ham {
  color: #4e6c81;
  width: 40px;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  transform: rotate(90deg);
  transition: 0.4s;
}

.gate {
  transform: rotate(180deg);
}

.menu {
  position: absolute;
  top: 96px;
  left: 12px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c37777;
  width: 40%;
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  transition: height 0.5s linear;
}

.menu__link {
  color: #f8eded;
  padding: 8px 16px;
}

.menu__link:hover {
  background-color: #4e6c81;
  border-radius: 12px;
}

.look {
  height: 148px;
}

.social [class*=icon-] {
  color: #4e6c81;
  font-size: 24px;
  margin-left: 12px;
}

@media (min-width: 768px) {
  .ham {
    display: none;
  }
  .menu {
    position: static;
    flex-direction: row;
    background: none;
    width: auto;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .menu__link {
    font-size: 32px;
  }
  .social [class*=icon-] {
    font-size: 32px;
  }
}/*# sourceMappingURL=custom.css.map */